.tagView {
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;

    gap: $spacing4;

    margin-bottom: $spacing4;

    // padding: 70px 0 70px 4*$spacing2;

    padding-top: $spacing2;
}

.collapsed {
    padding-right: $detailPane-width + $spacing4;
}

// Task Card

.taskCard_color_container {
    position: relative;
    z-index: 2;

    border-radius: 11px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    // border: 1px solid $color-border;

    padding-left: 3*$spacing1;
    // margin-right: $spacing4;
}

.draggableTask {
    position: relative;
    z-index: 10 !important;

    box-shadow: $shadow-paper-block;
}

.taskCard_container {
    padding: $spacing4 !important;
    box-shadow: none !important;
}

.taskCard_container button {
    margin: 0 !important;
}

.taskCard_stuff {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: $spacing4;

    opacity: 1;

    :global(.MuiListItemIcon-root) {
        color: $color-icons;
    }
}

.taskCard_isCompleted {
    opacity: 0.6;
}

.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;

    gap: $spacing4;

    width: 130px;

    :global(.MuiIconButton-root) {
        color: $color-icons;
    }

    opacity: 1;

    transition: opacity 0.2s ease-in-out;
}

.unhovered_actions {
    opacity: 0;
}

// Task Card Text

.taskCard_textContent {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;

    gap: 30px;

    // width: 600px;

}

.cardItemText {
    width: 100%;
    // min-width: 300px;
    // max-width: 100%;

    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardTextDivider {
    width: 1px;
    height: 20px;
    flex-shrink: 0;

    background-color: #828282;
    border-radius: 2px;
}

.cardDate {
    width: 100%;
    min-width: 120px;
    max-width: 120px;
    // width: 300px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    // margin: 0 0 0 auto !important;
    margin-right: $spacing4 !important;
}

// Empty line

.emptyLine_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.emptyLineEffect {
    height: 1px;
    width: 97%;
    margin-top: 48px; //52px
    margin-bottom: 16px;
    // margin: 0 0 16px auto;

    display: flex;
    align-items: center;
    
    background-color: $color-warm-grey;
    border-radius: 5px;
}

// Inline Create

.create_container {
    width: 100%;
    // height: 100px;

    // position: fixed;
    z-index: 3;
    // bottom: 8px;
    // left: 4*$spacing2;

    display: flex;
    align-items: center;
    padding-left: 4*$spacing2 !important;
    margin: auto 0 0 !important;

    overflow: visible;
}

.glass {
    /* Эффект размытия */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow:
        /* Нижний и правый эффект глубины */
        inset -0.75px -0.5px rgba(255, 255, 255, 0.1),
        /* Верхний и левый эффект глубины */
        inset +0.75px +0.5px rgba(255, 255, 255, 0.025),
        /* Эффект тени */
        3px 2px 10px rgba(0, 0, 0, 0.25),
        /* Короткий подповерхностный эффект */
        inset 110px 110px 110px 511px rgba(255, 255, 255, 0.025),
        /* Длинный подповерхностный эффект */
        inset 110px 110px 410px 511px rgba(255, 255, 255, 0.025);

    /* Позволяем дочерним элементам заполнять родительский */
    // position: relative;
}


.cardButton {
    color: $color-text !important;
    text-transform: none !important;
    display: flex;
    justify-content: start !important;

    // padding-left: 7*$spacing1 !important;
    width: 100%;

    // margin: auto 0 0 !important;
    // margin-top: 200px !important;
    box-shadow: -2px 0px 13.199999809265137px rgba(0, 0, 0, 0.25) !important;
}

.createInput input {
    height: 8px !important;
}